@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --secondary-color: #09aef5;
    --hover-color: #38BDF8;
    --dark-gray : #6b7280;
    --off-white: #f3f4f6;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #0F172A;
    color: white;
}
hr{
    margin: 2rem 0rem;
}
/* Container */
.container{
    padding-left: 1rem;
    padding-right: 1rem;
}

.container-center{
   max-width: 600px;
   margin: auto; 
}

/* Links */
.link{
    text-decoration: none;
    padding: 0.5rem 1rem;
}
.primary-link{
    border: none;
    border-radius: 0.5rem;
    background-color: var(--secondary-color);
    color: white;
    margin: 0.5rem;
}
.primary-link:hover{
    background-color: var(--hover-color);
}
.secondary-link{
    color: white;
    border-radius: 0.5rem;
    border: 1px solid var(--secondary-color);
}
.secondary-link:hover{
    background-color: #1E293B;
    color: #09aef5;
    border: none;
    transition: all 0.5s ease;
}
/* Lists */

.list-non-bullet{
    list-style: none;
}
.list-item-inline{
    display: inline;
    padding: 0rem 0.5rem;
}

/* Navbar */
.navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding: 1rem;
    border-bottom-left-radius: 1rem;
}

.navigation .nav-brand{
    font-weight: bold;
    font-size: 1.5rem;
    margin-top: 1.5rem;
    margin-left: 8rem;
}

.navigation .nav-pills{
    font-size: 1.2rem;
    margin-top: 1.5rem;
    margin-right: 5rem;
}

.navigation .link{
    color: white;
}

.navigation .link-active{
    font-weight: bold;
}

/* Header */

.hero{
    text-align: center;
    padding: 2rem;
}

.hero .hero-img{
    margin-top: 5rem !important;
    max-width: 350px;
    display: block;
    margin: auto;
}

.hero .hero-heading{
    font-size: 2rem;
    text-align: center;
    padding-top: 1rem;
    color: white;
    font-weight: 600;
}
.hero .description{
    font-size: 1.2rem;
    padding-top: 0.5rem;
    text-align: center;
}
.hero .description span{
    opacity: 1;
}
.hero .heading-inverted{
    color: #09aef5;
}
/* Sections */
.section{
    padding: 1.5rem;
    width: 60%;
    margin: auto;
}

.section h1{
    text-align: center;
    font-size: 1.5rem;
}
.section small{
    display: block;
    text-align: center;
    padding-bottom: 0.5rem;
}
.section p{
    font-size: 1rem;
    font-weight: 300;
    text-align: center;
    margin-bottom: 1rem;
}
.light{
    background-color: #1E293B;
    width: 60%;
    margin: auto;
    border-radius: 1rem;
}
.buttons{
    display: block;
    text-align: center;
    margin: 0.5rem 0rem;
}
/* footer */

.footer{    
    padding: 2rem;
    color: white;
    text-align: center;
    border-top-right-radius: 1rem;
}

.footer .footer-header{
    font-weight: bold;
    font-size: large;
    padding-bottom: 1rem;
}
.footer-header span{
    color: var(--secondary-color);
}

.footer .link{
    color: white;
}

.footer ul{
    padding-inline-start: 0px;
}
@media(max-width:600px){
    .navigation{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .navigation .nav-brand{
        margin-left: 0rem;
    }
    .navigation .nav-pills{
        margin-left: 0rem;
    }
    .light{
        width: 85%;
    }
    .section{
        width: 85%;
    }
    .buttons{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}